:root {
    --color-base-primary: #4D96A9;
    --color-base-secondary: #855FB1;

    --color-alt-primary: #8FE3F9;
    --color-alt-secondary: #D9B8FF;

    --color-neutral-dark: #28283D;
    --color-neutral-light: #FAFAFA;

    --color-extra: #87879D;
}